/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  flex: 1 1 auto;
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }

  .tagline {
    font-size: 1.2rem !important;
  }

  .heroBanner {
    padding: 1rem 0;
  }

  .button {
    width: 100%;
    text-align: center;
  }
}

.heading {
  font-family: 'IBM Plex Sans Condensed';
  font-size: 3rem;
  margin: 0;
  line-height: 3.5rem;
}

.tagline {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 500px;
  color: var(--ifm-font-color-secondary);
}

.partners {
  padding: 20px 0;
}